body{
    background-color: grey;
}
#country{
    width: 395px;
    border-bottom: 2px solid rgb(39, 233, 39);
}
#menu{
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1px 1px 0px 1px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    width: 400px;
    height: 600px;
    border: 2px solid rgb(39, 233, 39);
    border-radius: 20px;
}
